@import "../Global.scss";

.nav-link {
  color: white;
}
.navbar-collapse a {
  color: white !important;
}
.navbar-brand {
  color: white !important;
}

@media only screen and (max-width: $mobile-breakpoint) {
  .nav-search {
    width: auto !important;
    margin-right: 10px;
  }
}
