/*
 Color Scheme
 Primary : #280C83
 Primary light: #4D28C4 
 Secondary: #FF9D19
 Highlight: #D2F918

 http://paletton.com/#uid=34e0I0ksRDihTLUnnGJBwv6CnnS
 */

* {
  margin: 0;
  padding: 0;
}

:root {
  --primary: #280c83 !important;
  --pri: #280c83;
  --pri-light: #4d28c4;
  --sed: #ff9d19;
  --font: Verdana, Geneva, Tahoma, sans-serif;
}

h1,
h2,
h3,
h4,
h5 {
  font-family: var(--font);
}

h2 {
  font-weight: bolder;
  font-size: 3rem !important;
  color: white;
}
h1,
h3,
h4,
h5 {
  color: var(--pri);
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}
