/*
 Color Scheme
 Primary : #280C83
 Primary light: #4D28C4 
 Secondary: #FF9D19
 Highlight: #D2F918

 http://paletton.com/#uid=34e0I0ksRDihTLUnnGJBwv6CnnS
 */

$pri-color: #280c83;
$pri-light: #4d28c4;
$sed-color: #ff9d19;
$pri-font: Verdana, Geneva, Tahoma, sans-serif;
$mobile-breakpoint: 450px;
// $current-browser-width:

* {
  margin: 0;
  padding: 0;
}

:root {
  font-size: 16px;
}

@media only screen and (max-width: $mobile-breakpoint) {
  :root {
    font-size: 14px;
  }
}

@mixin w100 {
  width: 100%;
}

@mixin font {
  font-family: $pri-font;
}

h2 {
  @include font;
  font-weight: bolder;
  font-size: 3rem !important;
  color: white;
}
h1,
h3,
h4,
h5 {
  color: $pri-color;
  @include font;
}
